.element {
  display: inline-block;
  width: 100%;
  font-size: 1.3rem;
}

.buttons {
  display: none;
}

.target {
  display: inline-block;
  width: 100%;
}

.target:hover .buttons {
  display: inline-block;
}
